.app {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem 1rem;
}

header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
